name: E-Commerce microservices

services:
  auth:
    container_name: auth_service
    restart: always
    depends_on:
      auth_db:
        condition: service_healthy
    build:
      context: ./services/Auth
      dockerfile: ./Auth.Web/Dockerfile
    volumes:
      - ~/.aspnet/https:/https
    environment:
      - AUTH_DB_HOST=auth_db
      - AUTH_DB_NAME=auth
      - AUTH_DB_USERNAME=postgres
      - AUTH_DB_PASSWORD=A!strongpassword1234
      - AUTH_JWT_SECRET=oknNKJNjknjkqnkjwnjkn3kjn23kjn23kjnklAlakmn
      - AUTH_JWT_ISSUER=http://localhost:5000
      - AUTH_JWT_AUDIENCE=ecommerceMicroservices
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
    ports:
      - 5000:80

  products:
    container_name: products_service
    volumes:
      - ./services/Products:/app
      - /app/node_modules
    build:
      context: ./services/Products
      dockerfile: Dockerfile.dev
    ports:
      - 3000:3000
    environment:
      - POSTGRES_HOST=products_db
      - POSTGRES_PORT_MIGRATIONS=5432
      - POSTGRES_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=A!strongpassword1234
      - POSTGRES_DB=products
      - RABBITMQ_URL=amqp://rabbitmq:5672
      - RABBITMQ_PROFILE_INIT_QUEUE=profile_init
    depends_on:
      products_db:
        condition: service_healthy
  auth_db:
    container_name: auth_database
    image: postgres
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 10s
      retries: 10
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: A!strongpassword1234
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - ./postgresql:/var/lib/postgresql/data
  products_db:
    image: postgres:16
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 10s
      retries: 10
    ports:
      - 5433:5432
    environment:
      POSTGRES_PASSWORD: A!strongpassword1234
      POSTGRES_DB: products
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - ./products-database:/var/lib/postgresql/data

  # Global services
  rabbitmq:
    container_name: rabbitmq_server
    image: rabbitmq:3-management
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    depends_on:
      auth_db:
        condition: service_healthy

volumes:
  rabbitmq_data: